[FORMAT]
max-line-length=200

disable=
    trailing-whitespace,
    consider-using-f-string,
    redefined-outer-name,
    invalid-name,
    dangerous-default-value,
    pointless-string-statement

